# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.env
.venv
ENV/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
ds_store
.DS_Store

# Figures and outputs
figures/

# Python cache
*.pyo
*.pyd
